.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    height: 100dvh;
    background-image: url('https://img.freepik.com/free-photo/background-gradient-lights_23-2149304985.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-left>h1>span{
    color: orange;
}

.home-left>h3{
    color: rgba(255, 145, 0, 0.747);
}

.home-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-right>img{
    height: 70dvh;
}

.home-breaker{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 2px;
    background-color: white;
    margin-top: -2px;
}

.home-about{
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.home-about::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/free-photo/background-gradient-lights_23-2149304985.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleY(-1);
    z-index: -1; /* Place it behind the content */
}

.home-about>h1{
    text-align: center;
    font-size: 5vw;
}

.home-about-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.home-about-right>img{
    width: 15vw;
    padding: 1vw 3vw 0px 3vw;
    background-color: rgb(63, 0, 163);
    border-radius: 20px;
    filter: grayscale(0.8);
    box-shadow: rgb(255, 0, 128) 0px 0px 30px 5px;
    animation: float 5s infinite alternate ease-in-out;
    transition: all ease-in-out 0.3s;
}

.home-about-right>img:hover{
    filter: grayscale(0);
    box-shadow: rgb(132, 0, 255) 0px 0px 30px 5px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.home-about-left{
    width: 40vw;
}

.home-about-left>p{
    color: whitesmoke;
}

.home-about-left>p>span{
    font-weight: 900;
}
.home-about-skills{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.home-about-skills>i{
    font-size: 25px;
    color: whitesmoke;
}

.home-about-contacts{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

.home-about-contacts>a{
    width: 150px;
    height: 40px;
    background-color: rgb(63, 0, 163);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    outline: solid 2px rgb(63, 0, 163);
}

.home-about-contacts>a:hover{
    background-color: transparent;
    transition: ease-in all 0.2s;
    cursor: pointer;
    color: rgb(63, 0, 163);
}

.home-services{
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.home-services::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/free-photo/background-gradient-lights_23-2149304985.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.home-services>h1{
    text-align: center;
    font-size: 5vw;
}

.home-services-list{
    display: flex;
    flex-direction: row;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.home-services-list>div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 1vw;
    transition: all ease-in-out 0.3s;
}

.home-services-list>div:hover{
    transform: translateY(-30px);
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 5px;
}

.home-services-list>div>img{
    height: 15vw;
    border-radius: 15px;
}

.home-services>a{
    width: 30vw;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(63, 0, 163);
    border: none;
    outline: 2px solid rgb(63, 0, 163);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 17px;
    color: white;
    transition: ease-in-out all 0.2s;
    text-decoration: none;
}

.home-services>a:hover{
    background-color: transparent;
    transition: ease-in-out all 0.2s;
    cursor: pointer;
    color: rgb(63, 0, 163);
}

.home-projects{
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.home-projects::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/free-photo/background-gradient-lights_23-2149304985.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleY(-1);
    z-index: -1;
}

.home-projects>h1{
    text-align: center;
    font-size: 5vw;
}

.home-projects-list{
    display: flex;
    flex-direction: row;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.home-projects-list>div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 1vw;
    transition: all ease-in-out 0.3s;
}

.home-projects-list>div>a{
    text-decoration: none;
    text-align: center;
    background-color: rgb(63, 0, 163);
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
}
.home-projects-list>div>a:hover{
    outline: solid 1px rgb(63, 0, 163);
    background-color: transparent;
    color: rgb(63, 0, 163);
}

.home-projects-list>div:hover{
    transform: translateY(-30px);
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 20px 5px;
}

.home-projects-list>div>img{
    width: 25vw;
    border-radius: 15px;
}


.home-projects>a{
    width: 30vw;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(63, 0, 163);
    border: none;
    outline: 2px solid rgb(63, 0, 163);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 17px;
    color: white;
    transition: ease-in-out all 0.2s;
    text-decoration: none;
}

.home-projects>a:hover{
    background-color: transparent;
    transition: ease-in-out all 0.2s;
    cursor: pointer;
    color: rgb(63, 0, 163);
}


@keyframes float {
    0% {
        transform: translateY(0) ;
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 800px){
    .home-right{
        display: none;
    }
    .home-left{
        padding: 0vw 15px;
    }

    .home-about{
        height: fit-content;
        padding-bottom: 10px;
    }

    .home-about-main{
        flex-direction: column;
    }
    .home-about-left{
        width: 80vw;
    }

    .home-about-contacts{
        display: none;
    }

    .home-services{
        height: fit-content;
        padding-bottom: 10px;
    }

    .home-services-list{
        flex-direction: column;

    }

    .home-services-list>div>img{
        width: 80vw;
        height: 80vw;
    }

    .home-services>a{
        font-size: 10px;
    }

    .home-projects{
        height: fit-content;
        padding-bottom: 10px;
    }

    .home-projects-list{
        flex-direction: column;
    }

    .home-projects-list>div{
        padding: 10px;
    }

    .home-projects-list>div>img{
        height: 30vh;
        width: 80vw;
    }

    .home-projects>a{
        font-size: 10px;
    }

    .home-about-right{
        width: 80vw;
        height: 50vh;

    }

    .home-about-right>img{
        width: inherit;
        height: inherit;
        object-fit: contain;
    }

}